<div class="center jumbotron">
  <div class="row">
    <h1>バンドやろうぜ！！</h1>
    <br>
    <h2>思い立ったら、始めよう</h2>
    <div class="col-md-8">
      <% unless @microposts.nil? %>
      <%= link_to "募集記事を探す", recruitment_path, class: "btn btn-lg btn-primary join" %>
      <%= link_to "加入記事を探す", join_path, class: "btn btn-lg btn-primary recruitment" %>
      <h3 class="new_articles">新着バンドメンバー募集・バンド加入希望</h3>
        <% @microposts.each do |micropost|%>
          <section class="post_info">
            <span class="post"><%= image_tag micropost.user.user_image,size:'70x70',:Align=>"left"%><a href="/microposts/<%= micropost.id %>"><%= micropost.title %></a></span>
            <span class="post_user"><%= micropost.user.user_name %>(<%= micropost.user.prefecture.name %>,<%= calcAge(micropost.user.birthday.strftime("%Y%m%d").to_i) %>歳)</span>
　　　　　　　<span class="content">
              <%= micropost.content.truncate(25) do %>
                <p>(省略されました。<%= link_to "続きを読むには...", micropost_path %>をクリックしてください。<p>
              <% end %>
           </span>
           <span class="timestamp"><%= time_ago_in_words(micropost.created_at) %> 前.</span>
          </section>
        <% end %>
      <% else %>
    <h3>記事が存在しません</h3>
    <% end %>
  </div>
</div>
