<div class="align-items-center">
  <h1>メンバー検索フォーム</h1>
  <%= search_form_for @q, url:user_search_path, local: true do |f| %>
  <table>
    <tr>
      <th>ユーザネーム</th>
      <td>
        <div class="form-group form-name">
          <%= f.search_field :user_name_cont %>
        </div>
      </td>
      <tr>
        <th>年齢</th>
        <td>
          <div class="form-group form-age">
            <%= f.search_field :birthday_gt %> 〜 <%= f.search_field :birthday_lt %>
          </div>
        </td>
      </tr>
      <tr>
        <th>性別</th>
        <td>
          <div class="form-group">
            <%= f.select :gender_cont, [["指定しない", ""], ["男", "男"], ["女", "女"]]  %>
          </div>
        </td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td>
          <div class="form-group">
              <%= javascript_pack_tag 'genre' %>
              <%= select_tag('genre', options_for_select([["J-POP", "J-POP"], ["アニメ", "アニメ"], ["邦楽ヒップホップ/R&B/レゲエ", "邦楽ヒップホップ/R&B/レゲエ"],
              ["邦楽ロック", "邦楽ロック"], ["邦楽ダンス/エレクトロニカ", "邦楽ダンス/エレクトロニカ"],
              ["K-POP/ワールド・ミュージック", "K-POP/ワールド・ミュージック"], ["洋楽総合", "洋楽総合"],
              ["洋楽ポップス", "洋楽ポップス"],["洋楽ヒップホップ/R&B/レゲエ", "洋楽ヒップホップ/R&B/レゲエ"], ["洋楽ロック", "洋楽ロック"], ["洋楽ダンス/エレクトロニカ", "洋楽ダンス/エレクトロニカ"],
              ["歌謡曲/演歌", "歌謡曲/演歌"],["ジャズ", "ジャズ"],["クラシック ", "クラシック "]]),
              class: "genre", multiple: true) %>
          </div>
        </td>
      </tr>
      <tr>
        <div class="form-group">
          <div class="form-inline">
            <div class="prefectures-check-boxes">
              <th>都道府県</th>
              <td>
                <div class="checkbox">
                  <ul>
                    <%= collection_check_boxes :prefecture, :prefecture_ids, Prefecture.all, :id, :name, include_hidden: false do |prefecture| %>
                    <li><%= prefecture.label{ prefecture.check_box + prefecture.text } %></li>
                    <% end %>
                  </ul>
                </div>
              </td>
            </div>
          </div>
        </div>
      </tr>
      <tr>
        <th>担当パート</th>
        <td>
          <div class="form-group　part">
            <%= javascript_pack_tag 'part' %>
            <%= select_tag('part', options_for_select([["ボーカル", "ボーカル"], ["ギター", "ギター"], ["ベース","ベース"],
            ["ドラム", "ドラム"], ["キーボード", "キーボード"],["コーラス", "コーラス"], ["パーカッション", "パーカッション"],
            ["ギターボーカル", "ギターボーカル"],["DJ", "DJ"], ["その他", "その他"]]), placeholder: "選択してください",
            class:"part", multiple: true) %>
          </div>
        </td>
      </tr>
    </table>
    <div class="froup form-Submit">
      <%= reset_tag 'リセット', class: 'btn btn-info', id: 'js_clear_btn' %>
      <%= f.submit '探す', class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>
