<div class="card col-sm-6 mt-5 mx-auto px-0">
  <div class="card-header">
    <h3>パスワードを変更する</h3>
  </div>
  <div class="card-body">
    <%= form_with(model: current_user,url:password_update_path(current_user.id) , method: :put, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :password, "変更後のパスワード", :class => "form-label" %>
        <%= f.password_field :password, :class => "form-control" %>
        <% if current_user.errors.include?(:password) %>
        　　<p style="color: red;"><%= current_user.errors.full_messages_for(:password).first %></p>
        <% end %>
      </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "変更後のパスワード(確認)", :class => "form-label" %><br />
      <%= f.password_field :password_confirmation, :class=>"form-control" %>
      <% if current_user.errors.include?(:password_confirmation) %>
      　　<p style="color: red;"><%= current_user.errors.full_messages_for(:password_confirmation).first %></p>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :current_password, "現在のパスワード", :class => "form-label" %>
      <%= f.password_field :current_password, :class => "form-control" %>
      <% if current_user.errors.include?(:password_field) %>
      　　<p style="color: red;"><%= current_user.errors.full_messages_for(:password_field).first %></p>
      <% end %>
      <div class="small form-text">変更のために現在のパスワードを入力してください。</div>
    </div>

    <div class="actions">
      <%= f.submit "更新する", :class => "btn btn-primary btn-block" %>
      <%= link_to "キャンセルして戻る", edit_user_path(current_user), :class => "btn btn-secondary btn-block" %>
    </div>
    <% end %>
  </div>
</div>
