<div class="d-flex align-items-center">
    <h1>投稿一覧</h1>
    <div class="ml-auto posts_button">
        <a class="btn btn-outline-info" href="/posts/new" role="button">投稿</a>
    </div>
</div>
<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">種類</th>
      <th scope="col">タイトル</th>
      <th scope="col">ジャンル</th>
      <th scope="col">投稿日</th>
      <th scope="col">更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% if @microposts.nil? %>
    <td>投稿記事がありません</td>
    <% else %>
      <% @micropots.each do |micropost| %>
        <tr>
            <td><%= micropost.content_type %></td>
            <td><%= micropost.title %></td>
            <td><%= micropost.genre %></td>
            <td><%= microposts.part %></td>
            <td><%= micropost.created_at.to_s(:datetime_base) %></td>
            <td><%= micropost.updated_at.to_s(:datetime_base) %></td>
            <th><%= link_to '詳細',microposts_path(micropost.id),method::show　%>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
