<div class="align-items-center">
  <h1>検索結果</h1>
</div>
<% unless @search_microposts.blank? %>
<% @search_microposts.each do |micropost| %>
<section class="post_info">
  <span class="post"><%= image_tag micropost.user.user_image,size:'70x70',:Align=>"left"%><a href="/microposts/<%= micropost.id %>"><%= micropost.title %></a></span>
  <span class="post_user"><%= micropost.user.user_name %>(<%= micropost.user.prefecture.name %>,<%= calcAge(micropost.user.birthday.strftime("%Y%m%d").to_i) %>歳)</span>
　<span class="content">
    <%= micropost.content.truncate(25) do %>
      <p>(省略されました。<%= link_to "続きを読むには...", micropost_path %>をクリックしてください。<p>
    <% end %>
 </span>
 <span class="timestamp"><%= time_ago_in_words(micropost.created_at) %>前.</span>
</section>
<% end %>
<%= paginate @search_microposts %>
<% else %>
  <div class=search-result-empty>
    条件に一致した記事が見つかりませんでした。
  </div>
<% end %>
