<div class="align-items-center">
  <h1>検索結果</h1>
</div>
<hr>
<% unless @search_microposts.blank? %>
<% @search_microposts.each do |micropost| %>
<span class="user"><a href="/users/<%= micropost.user.id %>"><%= micropost.user.user_name %></a></span>
<br>
<span class="image"><a href="/microposts/<%= micropost.id %>"><%= image_tag(micropost.image,size:"600x400") if micropost.image.attached? %></a></span>
<br>
<span class="content"><%= micropost.content %></span>
<br>
<span class="genre"><%= micropost.genre %></span>
<span class="prefecture"><%= micropost.prefecture_id %></span>
<% end %>
<% else %>
  <div class=search-result-empty>
    条件に一致した記事が見つかりませんでした。
  </div>
<% end %>
