<div class="align-items-center">
  <h1><%= @micropost.title %></h1>
</div>
<div class=" container">
  <% if @micropost.content_type=="募集" %>
  <%= render partial: 'micropost_recruitment', locals: { micropost: @micropost, prefecture_name: @prefecture_name } %>
  <% else %>
  <%= render partial: 'micropost_join', locals: { micropost: @micropost, prefecture_name: @prefecture_name } %>
  <% end %>
  <div class="detail_menu" >
    <ul class="detail_menu_col4">
      <li><a href="/users/<%= @micropost.user.id %>"><i class="fa fa-user fa-3x"></i><figcaption>プロフィール</figcaption></a></li>
      <li class="post-<%= @micropost.id %>-like"><%= render "likes/like", micropost: @micropost %></li>
      <% if logged_in? %>
        <%= link_to contact_path, micropost: @micropost do %>
          <li><i class="fa fa-envelope fa-3x"></i><figcaption>メッセージ</figcaption></li>
        <% end %>
      <% else %>
        <li><i class="fa fa-envelope fa-3x"></i><figcaption>メッセージ</figcaption></li>
      <% end %>
      <%= link_to :back do %>
      <li><i class="fa fa-window-close fa-3x"></i><figcaption>閉じる</figcaption></li>
      <% end %>
    </ul>
  </div>
  <table>
    <h2>コメント一覧</h2>
    <thead>
      <tr>
        <th>コメント投稿者</th>
        <th>コメント内容</th>
      </tr>
    </thead>
    <tbody class=" border="1" width="300" height="100" ">
      <div class="row">
        <% unless @comments.nil? %>
        <% @comments.each do |f| %>
        <tr class="comment">
          <td><a href="/users/<%= @micropost.user.id %>">
            <% if f.user.user_image.attached? %>
            <%= image_tag f.user.user_image,size:'100x100' %>
            <% end %>
            <p><%= f.user.user_name %></p></a>
          </td>
          <td><%= f.content %>
            <% if f.errors.include?(:content) %>
              <p style="color: red;"><%= f.errors.full_messages_for(:content).first %></p>
            <% end %>
          <%= time_ago_in_words(f.created_at)%>前.
          <% if current_user?(f.user) %>
            <%= link_to "削除",micropost_comment_url(micropost_id: @micropost.id, id: f.id), method: :delete,
            data: { confirm: "本当に削除しますか?" } %>
          <% end %>
          </td>
         </tr>
          <% end %>
          </div>
          <% end %>
        </tbody>
      </table>
      <% if logged_in? %>
        <%= form_with model: [@micropost, @comment] do |f| %>
          <%= f.text_area :content, rows:5, class: "comment-area"%>
          <%= f.submit 'コメントを書く', class: "btn btn-primary comment-btn" %>
        <% end %>
      <% end %>
    </div>
