<div class="align-items-center">
  <h1>サポート</h1>
  <section>
    <h2 class="midashi">バンドメンバーを見つける３つの方法</h2>
    <p>まずは下記の3つの方法で、バンドメンバーを探しましょう。</p>
    <section>
      <h3 class="midashi"> <%= image_tag '/file_search_icon.png' ,:size =>'80x80'%>記事を探す</h3>
      <div>
        <p>まずはバンドメンバー募集・加入希望記事の中から、条件にあう内容の記事を探しましょう。</p>
        <h4>1.条件を指定して記事を検索する</h4>
        <p>バンド募集掲示板は、優れた検索機能で、無数にある記事の中から、希望の条件にあう記事だけを簡単に絞り込むことができます。</p>
        <h4>2.記事の投稿者にメッセージを送る</h4>
        <p>条件が合いそうな記事を見つけたら、投稿者にメッセージを送りましょう！各記事の詳細ページから、その記事の投稿者の方にメッセージが送れるようになっています。</p>
        <p><%= link_to "バンドメンバー募集記事の検索フォームへ", recruitment_path %></p>
      </div>
    </section>
    <section>
      <h3 class="midashi"><%= image_tag '/man_search_icon.png' ,:size =>'80x80'%>メンバーを探す</h3>
      <div>
        <h4>1.条件を指定して会員を検索する</h4>
        <p>バンド募集掲示板は、都道府県・年齢・性別・担当パートや、好きなジャンルなどを指定して検索することができます。</p>
        <h4>2.興味のある会員にメッセージを送る</h4>
        <p>興味がある会員を見つけたら、メッセージを送りましょう！各会員の紹介ページからメッセージが送れるようになっています。</p>
        <p ><%= link_to "メンバーの検索フォームへ", join_path %></p>
      </div>
    </section>
    <section>
      <h3 class="midashi"><%= image_tag '/article_creation.png' ,:size =>'80x80' %>記事を掲載する</h3>
      <div>
        <p>バンドメンバー募集・加入希望記事を掲載することで、他の会員様の目にとまり、メッセージを受けることが期待できます！</p>
      </div>
    </section>
    <section>
      <h3 class="midashi">メンバー登録がまだの方</h3>
      <p>記事の掲載やメッセージの送信などを利用するためには、会員登録(無料)が必要になります。会員登録がまだの方は、まず会員登録（無料）をしてください。</p>
      <p><%= link_to "新規登録フォームへ", signup_path %></p>
    </section>
  </section>
</div>
